{% extends 'base.html.twig' %}

{% block title %}Przelicznik Walut{% endblock %}

{% block body %}

    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Aplikacja przeliczania walut</a>
        <div class="ms-auto d-flex gap-2">
            <button class="btn btn-primary btn-menu">Zarejestruj się</button>
            <button class="btn btn-primary btn-menu">Zaloguj się</button>
        </div>
        </div>
        <div>
            <tabel>
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Waluta</th>
                    <th scope="col">Kurs kupna</th>
                    <th scope="col">Kurs sprzedaży</th>
                    <th scope="col">Różnica</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </tabel>
        </div>

    </div>
{% endblock %}
