.btn-menu{
    background-color: mediumpurple;
    color: #ffffff;
    border-color: darkorchid;
    width: 100%;
}

.btn-menu:hover{
    background-color: #f169f1;
    color: #ffffff;
    border-color: mediumpurple;
}