{% extends 'base.html.twig' %}
{% block body %}
{% include 'includes/headerUser.html.twig' %}
    <div class="container justify-content-center mt-4 w-50 ">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Sprzedaj walutę</h3>
                <div class="row">
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="money" min="1" value="1">
                            <label for="money">Ilość</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating ">
                            <select class="form-select form-control" id="currency">
                                <option selected disabled>Wybierz walutę</option>
                                {% for name in currenciesName %}
                                    <option value="{{ name }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                            <label for="currency"> Waluta</label>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-2">
                        <input class="btn btn-calculate" type="submit" value="Oblicz" id="calculate">
                    </div>
                    <div class="col">
                        <p class="card-text fw-bold fs-3 mt-3 text-center" id="result"></p>
                    <script>
                        document.getElementById('calculate').addEventListener('click',function(){
                            const money=parseFloat(document.getElementById('money').value);
                            const currency =document.getElementById('currency').value;

                            fetch(`/currencySellRate?currency=${currency}`)
                                .then(response =>response.json())
                                .then(data=>{
                                    if(data.error){
                                        document.getElementById('result').textContent = data.error;
                                    }else{
                                        const sellRate=data.sellRate;
                                        const result = money*sellRate;
                                        document.getElementById('result').textContent=`Wynik: ${result.toFixed(2)} PLN`;

                                    }
                                })
                                .catch(error =>{
                                    console.error('Błąd:',error);
                                    document.getElementById('result').textContent ='Wystąpi błąd podczas pobierania kursu walut';
                                });
                        });
                    </script>


                    </div>
                </div>




            </div>
        </div>
    </div>

{% endblock %}