{% extends 'base.html.twig' %}

{% block body %}

    {% include 'includes/header.html.twig' %}

    <div class="container d-flex justify-content-center mt-4">
        <div class="d-flex flex-column gap-2 border rounded p-5 shadow w-50 mt-5">
            <h2 class="text-center">Przypomnij hasło</h2>
            <p class="text-remindPassword mt-2">Podaj swój adres e-mail, a w wiadomości e-mail otrzymasz link do zmainy hasła.</p>
            <form method="post">
                <div class="form-floating">
                    <input type="email" id="email" class="form-control" placeholder="Adres e-mail">
                    <label for="email">Adres e-mail</label>
                </div>
                <button type="submit" class="btn btn-register-login-remindPassword mt-2">Ustaw nowe hasło</button>
            </form>

        </div>
    </div>


{% endblock %}