{% extends 'base.html.twig' %}
{% block body %}
{% include'includes/headerUser.html.twig' %}
    <div class="container justify-content-center mt-4">
        <table class="table table-bordered table-hover rounded">
            <thead class="table-header">
            <tr>
                <th>ID</th>
                <th>Czas</th>
                <th>Aktywność</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}